<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VotiFi</title>
    <link rel="stylesheet" href="../assets/css/intro.css">
</head>
<body>
    <div class="intro-container">
        <h1 class="logo">
            <span style="--delay: 1">V</span>
            <span style="--delay: 2">o</span>
            <span style="--delay: 3">t</span>
            <span style="--delay: 4">i</span>
            <span style="--delay: 5">F</span>
            <span style="--delay: 6">i</span>
        </h1>
        <a href="index.html" class="enter-btn">Enter</a>
    </div>
</body>
</html>
